<head>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet"/>

</head>
<body>
  <main>
    <div class="container">
      <%= image_tag("logoamar.png", width: 200) %>
      <span class="texto1"> Bem-Vindo ao<span>
      <span class="texto2"> Desafio Amar Educação</span>
      <span class="texto3">A ideia é bem simples, primeiro você se cadastra ou<span class="texto3"> loga no sistema,</span> e depois você terá que fazer uma série de desafios. <span class="texto3" >À medida que você completá-los você vai ganhando prêmios.</span><span class="texto3"> Agora vá se divertir.</span></span>
    </div>
  </main>
</body>